<mat-toolbar color="primary">

   <a class="navbar-brand" [routerLink]="['']" title="Ir a Inicio">ViajeSeidón</a>

   <div>
      <a [routerLink]="['viajes']" title="Listado de Viajes">Listado de Viajes</a>
      <a [routerLink]="['viajes/editar']" title="Crear viaje">Crear viaje</a>
      <a [routerLink]="['clientes']" title="Clientes">Clientes</a>
      <a [routerLink]="['clientes/editar']" title="Crear cliente">Crear cliente</a>
   </div>

   <div class="logout">
      <button mat-icon-button aria-label="Cerrar sesión" title="Cerrar sesión">
         <mat-icon (click)="logout.emit()">logout</mat-icon>
      </button>
   </div>
</mat-toolbar>