.logout {
  .fa-sign-out-alt {
    color: white;
    cursor: pointer;
  }
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.3rem;

  &:hover {
    color: #d0d0d0;
  }
}
mat-toolbar {
  justify-content: space-between;
  font-size: 1.1rem;
}

.example-spacer {
  flex: 1 1 auto;
}
