<div>
   <button [routerLink]="['']" mat-raised-button color="basic" type="button">Volver a Inicio</button>
</div>
<app-viajes-filter [tiposDeViaje]="tiposDeViaje" (buscar)="searchClick($event)"></app-viajes-filter>
<!-- <div class="row mb-3">
   <div class="col-12">
      <button (click)="cambiarVistaClick()" class="btn " type="button">Cambiar vista</button>
   </div>
</div>
<app-viajes-card-list [viajes]="viajes.rows" *ngIf="mostrarTarjetas"></app-viajes-card-list> -->


<app-viajes-table-list [viajes]="viajes" (editar)="editarClick($event)" (eliminar)="eliminarClick($event)"
   (page)="paging($event)" *ngIf="!mostrarTarjetas">
</app-viajes-table-list>